@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}

.border-gradient {
  position: relative;
  z-index: 0;
  border-radius: 35px;
  overflow: hidden;
}

.border-gradient::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-76deg, #3600d1 0%, #b839ff 100%);
  padding: 2px;
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.border-gradient-1 {
  position: relative;
  z-index: 0;
  border-radius: 35px;
  overflow: hidden;
}

.border-gradient-1::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    -76deg,
    #be0800 0%,
    #dc470d 100%
  ); /* Actualizado al nuevo gradiente rojo */
  padding: 2px;
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.speech-bubble {
  position: relative;
  background: linear-gradient(35deg, #dc470d 0%, #be0800 100%);
  color: white;
  border-radius: 35px;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  top: 40%; /* Asegúrate de que esté justo en la parte inferior de la burbuja */
  left: 5px; /* Ajusta según lo necesites */
  rotate: -30deg; /* Gira la puntica 45 grados */
  border-width: 15px; /* Altura de la puntica */
  border-left-width: 15px; /* Ancho de la base de la puntica */
  border-style: solid;
  border-color: transparent transparent #d9440c transparent; /* Color inferior se fusiona con el fondo */
  transform: translateX(-50%) rotate(0deg); /* Centra y elimina el giro para que esté alineado correctamente */
}

.typing-animation {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white; /* Simula el cursor */
  font-family: monospace; /* Para darle estilo de máquina de escribir */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-fill-mode: forwards; /* Mantiene el texto visible al final */
}

/* Efecto de escritura */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; /* Muestra todo el texto */
  }
}

/* Efecto de parpadeo del cursor mientras se escribe */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typing-animation.done {
  border-right: none;
}

/* Hero animation */

.image-container {
  position: relative;
  overflow: hidden;
  height: 171px;
  width: 100%;
  max-width: 1301px;
}

.hero-image {
  position: absolute;
  top: 100%; /* Comienza fuera del contenedor, por debajo */
  left: 0;
  opacity: 0;
  transition: top 600ms ease-in-out; /* Transición de opacidad y posición */
  width: 100%;
  height: 100%;
}

.hero-image.active {
  opacity: 1;
  top: 0; /* La imagen activa sube a su posición */
}

.hero-image.prev {
  opacity: 1; /* Mantener visible la imagen anterior */
  top: -100%; /* La imagen anterior sube fuera del contenedor */
}

.first-image {
  opacity: 1;
  top: 0; /* La primera imagen está en su lugar */
  transition: top 600ms ease-in-out;
}
