@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

button {
  font-family: "manrope", sans-serif !important;
}

.h1s-container {
  opacity: 0;
}

.border-gradient {
  position: relative;
  z-index: 0;
  border-radius: 35px;
  overflow: hidden;
}

.border-gradient::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-76deg, #b839ff 0%, #3600d1 100%);
  padding: 2px;
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.border-gradient-1 {
  position: relative;
  z-index: 0;
  border-radius: 35px;
  overflow: hidden;
}

.border-gradient-1::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    -76deg,
    #be0800 0%,
    #dc470d 100%
  ); /* Actualizado al nuevo gradiente rojo */
  padding: 2px;
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.speech-bubble-container {
  display: inline-block;
}

.speech-bubble {
  position: relative;
  background: linear-gradient(35deg, #dc470d 0%, #be0800 100%);
  color: white;
  border-radius: 35px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 52px;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 5px;
  rotate: -30deg;
  border-width: 15px;
  border-left-width: 15px;
  border-style: solid;
  border-color: transparent transparent #d9440c transparent;
  transform: translateX(-50%) rotate(0deg);
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  border-right: 3px solid white;
  font-family: "manrope", sans-serif;
  font-weight: 500;
  animation: typing 1s steps(40, start), blink-caret 0.75s step-end infinite;
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typing-animation.done {
  border-right: none;
}

/* Hero animation */

.image-container {
  position: relative;
  overflow: hidden;
  height: 171px;
  width: 100%;
  max-width: 1301px;
}

.hero-image {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: top 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-image.active {
  opacity: 1;
  top: 0;
}

.hero-image.prev {
  opacity: 1;
  top: -100%;
}

.first-image {
  opacity: 1;
  top: 0;
  transition: top 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.element {
  opacity: 0;
}
